@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Ubuntu", sans-serif;
}

nav{
    display: flex;
    height: 10vh;
    border: 1px solid #babdc1;
    font-family: "Ubuntu", sans-serif;
    color: #374151;
}

.leftNav{
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.leftNav p{
    width: 30%;
    font-size: 190%;
}

.rightNav{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItems{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
  cursor: pointer;
}

.navItems li:hover{
    color: #8595ad;
}

.section1{
    height: 90vh;
}

.hero{
    height: 100%;
    display: flex;
}

.leftHero{
    width: 60%;
    height: 100%;
}

.rightHero{
    width: 40%;
    height: 100%;
}

.rightHero img{
    height: 100%;
    width: 95%;
}

.heroHeadline{
   font-size: 153%;
}

.subheadline{
  font-size: 116%;
    width: 51%;
    margin-top: 2%;
   color: #374151; 
} 

.heroBullets{
    font-size: 89%;
    margin-top: 2%;
    color: #374151;
}

.heroText{
    margin: 25% 11%;
}

.heroCTA{
    width: 24%;
    font-size: 121%;
    padding: 1%;
    margin-top: 4%;
    margin-left: 22%;
    border-radius: 9px;
    color: #ffffff;
    background-color: #111827;
    cursor: pointer;
}

.heroCTA:hover{
    background-color:#374151 ;
}

.section2{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.intrique{
    width: 80%;
    margin: auto;
    font-size: 265%;
    margin-top: 24%;
    text-align: center;
    color: #111827;
}

.section3{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container2{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.understood{
    margin: auto;
    width: 80%;
    font-size: 185%;
    margin-top: 6%;
    color: #111827;
    text-align: center;
}

.painPoint{
   width: 80%;
    margin: auto;
    color: #374151;
    text-align: center;
    font-size: 116%;
    margin-top: 3%;
}

.offer{
   margin: auto;
    width: 80%;
    font-size: 116%;
    color: #374151;
    text-align: center;
    margin-top: 5%;
}

.why-works{
   margin: auto;
    width: 80%;
    color: #6B7280;
    text-align: center;
    margin-top: 5%;
}

.section4{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container3{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.benefits{
    height: 100%;
    width: 100%;
    display: flex;
}

.left-benefit{
     height: 100%;
     width: 50%;
}

.benefitText{
    margin: 32% 12%;
}

.right-stat{
    width: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-Head{
   font-size: 160%;
}

.benefit-bullets{
  margin-top: 6%;
  color: #374151;
}

.benefit-bullets li{
    margin-top: 1.5%;
}

.Counter{
   height: 51%;
    width: 80%;
    justify-content: center;
    grid-gap: 27px;
    display: grid;
    grid-template-columns: repeat(2,45%);
    grid-auto-rows:50% ;
}

.statCounter{
    background-color:#f7f1f1;;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    font-size: 85%;
    width: 80%;
}

.counterNum{
    font-size: 200%;
}