@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Ubuntu", sans-serif;
}

nav{
    display: flex;
    height: 10vh;
    border: 1px solid #babdc1;
    font-family: "Ubuntu", sans-serif;
    color: #374151;
}

.leftNav{
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.leftNav p{
    width: 30%;
    font-size: 190%;
}

.rightNav{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItems{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
  cursor: pointer;
}

.navItems li:hover{
    color: #8595ad;
}

.section1{
    height: 90vh;
}

.hero{
    height: 100%;
    display: flex;
}

.leftHero{
    width: 60%;
    height: 100%;
}

.rightHero{
    width: 40%;
    height: 100%;
}

.rightHero img{
    height: 100%;
    width: 95%;
}

.heroHeadline{
   font-size: 153%;
}

.subheadline{
  font-size: 116%;
    width: 51%;
    margin-top: 2%;
   color: #374151; 
} 

.heroBullets{
    font-size: 89%;
    margin-top: 2%;
    color: #374151;
}

.heroText{
    margin: 25% 11%;
}

.heroCTA{
    width: 24%;
    font-size: 121%;
    padding: 1%;
    margin-top: 4%;
    margin-left: 22%;
    border-radius: 9px;
    color: #ffffff;
    background-color: #111827;
    cursor: pointer;
}

.heroCTA:hover{
    background-color:#374151 ;
}

.section2{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.intrique{
    width: 80%;
    margin: auto;
    font-size: 265%;
    margin-top: 24%;
    text-align: center;
    color: #111827;
}

.section3{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container2{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.understood{
    margin: auto;
    width: 80%;
    font-size: 185%;
    margin-top: 6%;
    color: #111827;
    text-align: center;
}

.painPoint{
   width: 80%;
    margin: auto;
    color: #374151;
    text-align: center;
    font-size: 116%;
    margin-top: 3%;
}

.offer{
   margin: auto;
    width: 80%;
    font-size: 116%;
    color: #374151;
    text-align: center;
    margin-top: 5%;
}

.why-works{
   margin: auto;
    width: 80%;
    color: #6B7280;
    text-align: center;
    margin-top: 5%;
}

.section4{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container3{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.benefits{
    height: 100%;
    width: 100%;
    display: flex;
}

.left-benefit{
     height: 100%;
     width: 50%;
}

.benefitText{
    margin: 32% 12%;
}

.right-stat{
    width: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-Head{
   font-size: 160%;
}

.benefit-bullets{
  margin-top: 6%;
  color: #374151;
}

.benefit-bullets li{
    margin-top: 1.5%;
}

.Counter{
   height: 51%;
    width: 80%;
    justify-content: center;
    grid-gap: 27px;
    display: grid;
    grid-template-columns: repeat(2,45%);
    grid-auto-rows:50% ;
}

.statCounter{
    background-color:#f7f1f1;;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    font-size: 85%;
    width: 80%;
}

.counterNum{
    font-size: 200%;
}

.section5{
     background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container4{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.social-proofs{
    height: 100%;
    width: 100%;
}

.section6{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container5{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.valueStack-heading{
    font-size: 140%;
    margin-left: 15%;
    margin-top: 7%;
}

.valueBullets{
 font-size: 123%;
    margin-left: 12%;
    margin-top: 2%;
}

.valueBullets li{
  margin-top: 0.5%;
}

.valueBullets p{
   font-size: 65%
}

.section7{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container8{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.closingPart{
    margin: 7%;
}

.ClosingCopy1{
   font-size: 140%;
}

.ClosingCopy2{
   font-size: 140%;
}

.closingCTA{
  padding: 1%;
    font-size: 125%;
    margin: 7%;
    background-color: #111827;
    border-radius: 14px;
    color: #ffffff;
    cursor: pointer;
}

.closingCTA:hover{
    background-color: #484d5d;
}

.scarcity{
   color: #e0be7f;
    font-size: 124%;
    margin-top: 4%;
}

.section8{
    background-color: #d8e0E9;
    height: 100vh;
    display: flow-root;
}

.container9{
    background-color: #ffffff;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
    display: flow-root;
}

.registration-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form{
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-evenly;
    width: 59%;
}

.formInput {
    padding: 1.5%;
    font-size: 89%;
    width: 56%;
    background-color: #ffffff;
    border-radius: 12px;
    color: white;
}

label{
    display: flex;
    flex-direction: column;
}



.submit{
    padding: 1.5%;
    width: 26%;
    background-color: #d13737;
    color: #b3b3b3;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.submit:hover{
    background-color: #941c1c;
    transition: 0.3s ease;
}

footer{
    background-color:#d8e0E9 ;
    height: 9vh;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: auto;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
}

#close{
    display: none;
}

#menu{
    display: none;
}

@media(max-width:800px){

      #close {
        display: inline-block;
        font-size: 197%;
        margin-left: 68%;
    }

    #menu{
    display: inline-block;
    font-size: 150%;
    margin: 4%;
    margin-top: 7%;
    }
    
    .navItems {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 80%;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 100vw;
    height: 50vh;
    border-radius: 15px;
    background-color: #f4ebeb;
    width: 100vw;
}

.section1 {
    height: 190vh;
}

.hero {
    flex-direction: column;
}

.leftHero {
    width: 83%;
    height: 100%;
}

.heroText {
    margin: 52% 16%;
    width: 100%;
}

.subheadline {
    font-size: 95%;
    width: 72%;
    margin-top: 5%;
    color: #374151;
}

.heroBullets {
    font-size: 89%;
    margin-top: 10%;
}

.heroCTA {
    width: 45%;
    font-size: 133%;
    padding: 2%;
    margin-top: 9%;
}

.heroPoint {
        margin-top: 0.5%;
}

.rightHero {
    width: 100%;
    height: 100%;
}

.container {
    height: 85vh;
    width: 90%;
    margin-top: 13%;
}

.intrique {
    width: 80%;
    margin: auto;
    font-size: 190%;
    margin-top: 83%;
}

.container2{
    height: 85vh;
    width: 90%;
    margin-top: 13%;
}


.understood {
    width: 80%;
    font-size: 146%;
    margin-top: 41%;
}

.painPoint {
    font-size: 102%;
    margin-top: 5%;
}

.offer {
    font-size: 102%;
    color: #374151;
}

.container3 {
   height: 85vh;
   width: 90%;
   margin-top: 13%;
}

.benefits {
    flex-direction: column;
}

.left-benefit {
    height: 50%;
    width: 100%;
}

.right-stat {
    width: 100%;
    height: 50%;
    font-size: 74%;
}

.container4{
   height: 85vh;
   width: 90%;
   margin-top: 13%;
}

.container5{
   height: 85vh;
   width: 90%;
   margin-top: 13%;
}

.valueStack{
    font-size: 81%;
    margin-top: 39%;
}

.valueBullets {
    font-size: 123%;
    margin-top: 6%;
}

.valueBullets li {
    margin-top: 2.5%;
}

.ClosingCopy1 {
    font-size: 124%;
    margin-top: 49%;
}

.ClosingCopy2 {
    font-size: 124%;
    margin-top: 3%;
}

.closingCTA {
    padding: 3%;
    font-size: 132%;
    margin: 13%;
}

.scarcity {
    color: #e0be7f;
    font-size: 116%;
    margin-top: 12%;
}

form {
    height: 35vh;
    width: 77%;
}

.container8{
    width: 90%;
    margin-top: 13%;
}

.container9 {
        width: 90%;
        margin-top: 13%;
        background-color: #ffffff;
        height: 53vh;
        margin: auto;
        border-radius: 15px;
        display: flow-root;
    }

    .section8 {
    background-color: #d8e0E9;
    height: 66vh;
    display: flow-root;
    }

footer {
    background-color: #d8e0E9;
    height: 5vh;
}

.formInput {
    padding: 1.5%;
    font-size: 105%;
    width: 89%;
}


}